@import "slick";

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  &:hover {
    color: #ffc908;
  }
}

header {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    margin: 45px auto;
    div>input {
      border: none;
      padding: 0;
      width: 130px;
    }
    input {
      padding: 5px 35px;
      background: #fff;
      border: #e9e9e9 solid 1px;
    }
  }
  .empty {
    border: #e9e9e9 solid 1px;
    height: 5px;
  }
  .downhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    margin: 25px auto;
    nav a {
      margin-right: 65px;
    }
    .social a {
      margin-left: 30px;
    }
  }
}

div .slide {
  width: 100%;
  height: 800px;
  background-size: cover;
}

.slide1 {
  background: #cccccc url("../img/block1.jpg") no-repeat center;
}

.slide2 {
  background: #cccccc url("../img/block1_travell.jpg") no-repeat center;
}

.slide3 {
  background: #cccccc url("../img/block1_travelli.jpg") no-repeat center;
}

.slide4 {
  background: #cccccc url("../img/block1_travellin.jpg") no-repeat center;
}

.slide5 {
  background: #cccccc url("../img/block1_travelling.jpg") no-repeat center;
}

.slick-arrow {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 20px;
  &:hover {
    background: red;
    border: 1px solid red;
  }
  &:active {
    border: 2px solid #7e5aff;
    color: #7e5aff;
  }
  &.slick-prev {
    bottom: 270px;
    left: 40px;
    z-index: 1;
  }
  &.slick-next {
    bottom: 220px;
    left: 40px;
  }
}

.slick-dots {
  position: absolute;
  bottom: 100px;
  left: 110px;
  display: flex;
  li {
    margin-left: 5px;
    marker: none;
    list-style-type: none;
    width: 5px;
    height: 5px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50%;
    [type="button"] {
      display: none;
    }
  }
  .slick-active {
    background: none;
  }
}