@import "slick";

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('../fonts/GothamBook.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('../fonts/GothamBold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('../fonts/GothamMedium.woff') format('woff');
}

@mixin strip ($bg, $m: 35px) {
  &:before {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: $bg;
    margin: -$m auto $m;
  }
}

body {
  font-family: 'Gotham Book', sans-serif;
  position: relative;
  margin: 0;
  text-transform: uppercase;
  p {
    text-transform: none;
  }
}

a {
  text-decoration: none;
  color: #fff;
  font: 400 14px 'Gotham Book', sans-serif;
  text-transform: uppercase;
  &:hover {
    font-weight: 700;
  }
}

.section-inner {
  width: 1175px;
  margin: 0 auto;
  text-align: center;
}

.section-1 {
  position: relative;
  color: #fff;
  height: 100vh;
  background: #00a2ff url("../img/bg.jpg") no-repeat center;
  background-size: cover;
  .section-inner {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      nav {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:before {
          content: '';
          display: inline-block;
          margin-right: 10px;
          width: 5px;
          height: 5px;
          border: 1px solid #FFFFFF;
          border-radius: 50%;
          margin-bottom: 1px;
        }
      }
      .social {
        width: 170px;
        display: flex;
        justify-content: space-between;
        a {
          width: 45px;
          height: 45px;
          border: 1px solid #FFFFFF;
          border-radius: 50%;
          i {
            font-size: 16px;
            line-height: 45px;
          }
        }
      }
    }
    h1 {
      margin-top: 265px;
      margin-bottom: 0;
      font-family: 'Gotham Bold', sans-serif;
      font-size: 80px;
      letter-spacing: .05em;
    }
    h2 {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: .3em;
    }
    .scroll {
      position: absolute;
      left: 50%;
      margin-left: -22px;
      bottom: 50px;
      display: inline-block;
      width: 45px;
      height: 45px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      i {
        font-size: 16px;
        line-height: 45px;
      }
      &:hover {
        opacity: .6;
      }
    }
  }
}

#section-2 {
  height: 1635px;
  h2 {
    font-size: 44px;
    font-family: 'Gotham Bold', sans-serif;
    margin-top: 100px;
    margin-bottom: 170px;
    padding-top: 40px;
    @include strip(#000);
  }
  .project {
    .left-shadow {
      box-shadow: -215px -70px 0 #55b7ff;
    }
    .right-shadow {
      box-shadow: 215px -70px 0 #7e5aff;
    }
    padding-bottom: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 470px;
      text-align: left;
      h3 {
        font-size: 24px;
      }
      h2 {
        margin: 0;
        padding: 0;
        @include strip(#fff);
      }
      p {
        line-height: 1.6;
        font-size: 18px;
        height: 90px;
        overflow: hidden;
        margin: 40px 0;
      }
      a {
        box-sizing: border-box;
        display: block;
        color: #000;
        width: 190px;
        padding: 20px 0;
        text-align: center;
        border: 1px solid black;
        margin-bottom: 60px;
        &:hover {
          background: #ccc;
        }
      }
      i {
        text-transform: none;
      }
    }
  }
}

#section-3 {
  padding-top: 1px;
  height: 1035px;
  background: #50a3ff url("../img/section3-bg.jpg") no-repeat center;
  background-size: cover;
  h2 {
    font: 300 44px 'Gotham Medium', sans-serif;
    color: #FFFFFF;
    margin: 100px 0;
    padding-top: 40px;
    @include strip(#fff);
  }
  .slick-slider {
    img {
      margin: auto;
    }
    .text {
      line-height: 1.6;
      box-sizing: border-box;
      width: 370px;
      margin: 0 auto;
      background: #fff;
      text-align: left;
      padding: 20px;
    }
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
      height: 55px;
      overflow: hidden;
    }
    .aftor {
      margin-top: 30px;
      img {
        display: inline-block;
      }
      div {
        vertical-align: top;
        margin-top: 7px;
        margin-left: 20px;
        width: 200px;
        display: inline-block;
        h4 {
          margin: 0;
        }
        span {
          text-transform: none;
          color: #55b7ff;
          font-size: 14px;
        }
      }
    }
  }
}

.slick-arrow {
  color: #FFFFFF;
  position: absolute;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: none;
  &:hover {
    opacity: .6;
  }
  &:active {
    border: 2px solid #7e5aff;
    color: #7e5aff;
  }
  &.slick-prev {
    left: - 100px;
    top: 50%;
    margin-top: -27px;
  }
  &.slick-next {
    right: - 100px;
    top: 50%;
    margin-top: -27px;
  }
}

.slick-dots {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  li {
    margin: 10px;
    marker: none;
    list-style-type: none;
    width: 5px;
    height: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    [type="button"]{
      display: none;
    }
  }
  .slick-active {
    background: #fff;
  }
}

#section-4 {
  h2 {
    font: 300 44px 'Gotham Medium', sans-serif;
    margin: 140px auto 100px;
    padding-top: 40px;
    @include strip(#000);
  }
  .grid {
    display: flex;
    height: 440px;
    div :first-child {
      margin-bottom: 8px;
    }
  }
  a {
    box-sizing: border-box;
    display: block;
    color: #000;
    width: 190px;
    padding: 20px 40px;
    border: 1px solid black;
    margin: 65px auto 140px;
    &:hover {
      background: #ccc;
    }
  }
}

#map {
  z-index: 0;
  height: 700px;
}

#contacts {
  position: absolute;
  left: 50%;
  margin-left: -385px;
  bottom: 375px;
  box-sizing: border-box;
  width: 770px;
  height: 450px;
  background: #fff;
  h2 {
    font: 300 44px 'Gotham Medium', sans-serif;
    margin-top: 80px;
    text-align: center;
    @include strip(#000, 20px);
  }
  .contact {
    display: flex;
    margin: 60px;
    div {
      width: 330px;
      display: flex;
      flex-direction: column;
      i {
        color: #7e5aff;
      }
      input {
        font: 400 14px 'Gotham Book', sans-serif;
        height: 40px;
        display: block;
        border: none;
        &[type="submit"] {
          width: 140px;
          background: none;
          border: 1px solid black;
          text-transform: uppercase;
          margin-left: 174px;
          margin-top: 30px;
          &:hover {
            background: #ccc;
          }
        }
      }
      form {
        margin-left: 10px;
      }
    }
  }
}

footer {
  .footer-inner {
    width: 770px;
    color: #ffffff;
    margin: 200px auto 30px;
  }
  padding-top: 1px;
  height: 525px;
  background: #9387e2 url("../img/footer.jpg") no-repeat center;
  background-size: cover;
  .logo_social {
    .logo {
      width: 300px;
    }
    width: 770px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .social {
      width: 170px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      a {
        width: 45px;
        height: 45px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        i {
          font-size: 16px;
          line-height: 45px;
        }
      }
    }
  }
}