.relative {
  width: 400px;
  height: 400px;
  background: #cccccc;
  margin: 50px;
  display: flex;
  .child {
    margin: auto;
    width: 200px;
    height: 200px;
    background: #333333;
    color: #ffffff;
    font-size: 30px;
    //position: relative;
    //left: 20px;

    //transition: transform 0.5s 1s linear; -- все свойства в одной строке
    transition: 2s .5s linear;
    transition-property: transform, background, font-size;
  }
  &:nth-child(1):hover .child {
    transform: translate(50px, 100px);
  }
  &:nth-child(2):hover .child {
    transform: translate(50px, -50px); //сдвиг
  }
  &:nth-child(3) .child {
    transform-origin: 0 100%; //смещает центр
  }
  &:nth-child(3):hover .child {
    transform: rotate(30deg); //поворот
    background: #ff16a0;
    font-size: 100px;
  }
  &:nth-child(4):hover .child {
    transform-origin: right bottom;
    transform: skew(-20deg, -30deg); //скручивание
  }
  &:nth-child(5):hover .child {
    transform: scale(1.5); //изменение размера
  }
}

.transform-centr {
  height: 400px;
  width: 400px;
  background: #cccccc;
  position: relative;
  margin: 50px;
  .child {
    width: 480px;
    height: 180px;
    background: #333333;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.transform3d {
  height: 400px;
  width: 400px;
  background: #cccccc;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .child {
    width: 200px;
    height: 200px;
    background: #333333;
    transition: all 1s;
    img {
      height: 100%;
      z-index: 1;
    }
    &:hover {
      transform: perspective(900px) rotate3d(180, -45, 0, -135deg);
    }
  }
}


/*----*//*------------*//*--------------*/

.line {
  height: 200px;
  background: #bbbbbb;
  .ball {
    height: 80px;
    width: 80px;
    background: #2fff79;
    border-radius: 50%;
    animation: ballJamping 5s ease-in 2s infinite alternate;
  }
}

@keyframes ballJamping {
  10% {
    transform: translate(80px, 60px);
  }
  20% {
     transform: translate(120px, 120px);
   }
  30% {
    transform: translate(160px, 60px);
  }
  40% {
    transform: translate(240px, 0px);
  }
  60% {
    transform: translate(360px, 120px);
  }
  80% {
    transform: translate(480px);
  }
  to {
    transform: translate(600px, 120px);
  }
}